<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pharmaceuticalform.name %>
</p>

<%= link_to 'Edit', edit_pharmaceuticalform_path(@pharmaceuticalform) %> |
<%= link_to 'Back', pharmaceuticalforms_path %>
