<% provide(:page_title, 'INICIO' )%>
<% provide(:home_active, 'active')%>
<div class="text-xs-center wrapper-padding">
	<h1 class="dinpro-regular emp-lab-aica color-title-aica text-uppercase">Gracias por su mensaje</h1>
	<p class="dinpro-light color-title-aica text-uppercase">Esperamos verlo pronto.</p>
</div>