<% provide(:page_title, t('products_title') )%>
<% provide(:product_active, 'active')%>
<section class="section news-aica">
<div class="col-sm-6 col-lg-3">
    <div class="text-xs-center dinpro-regular aica-product"><%= @product.name %></div>
    <div class="product relative product-height">
       <div class="absolute product-height background-cover img-borde-aica" style="background:url(<%= @product.asset.url(:medium) %>
       );top:0px;left:0px;width:100%;">
       </div>

       <div class="relative">
          <p>
            <%= link_to "", @product.document.url, target: "_blank", class:"btn btn-products dinpro-regular icon-leer-over" %>
          </p>
          <p>
            <a href="" class="btn btn-products dinpro-regular icon-descargar-over">
            
            </a>
          </p>
       </div>
    </div>
</div>
</section>

