<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pharmaceuticalgroup.name %>
</p>

<%= link_to 'Edit', edit_pharmaceuticalgroup_path(@pharmaceuticalgroup) %> |
<%= link_to 'Back', pharmaceuticalgroups_path %>
